:root {
  --primary-color: #125b89;
  --secondary-color: #fff6ec;
  --accent-color: #d0e7f6;
  --button-color: #fcfcfc48;
  --title-size: 3rem;
  --subtitle-size: 1.8rem;
  --pargaraph-size: 1.3rem;
}

@font-face {
  font-family: "QuickSand";
  src: url("../public/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Mulish";
  src: url("../public/Mulish/Mulish-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: solid 1px red;
}

/* Corps du site */

#main-top {
  @media screen and (min-width: 992px) {
    display: flex;
  }
}

/* Bannière */

#banniere {
  border: solid 35px var(--primary-color);
  border-right: 6px var(--primary-color);
  border-left: 6px var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
#image-banniere {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

h1 {
  font-family: "QuickSand";
  margin: 0.5em 0.5em;
  color: var(--primary-color);
}

/* HEADER SECTION TOP 3 */

#top3 {
  border-radius: 2em;

  margin: 1em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  outline: solid 5px var(--primary-color);
  color: var(--primary-color);
}
#top3 h2 {
  text-align: center;
  font-family: "QuickSand";
}
#top3 h3 {
  background-color: var(--secondary-color);
  outline: solid 2px var(--primary-color);
  border-radius: 0.3em;
  font-family: "QuickSand";

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
}
#top3 img {
  width: 49%;
  border-radius: 2em;
  outline: solid 2px var(--primary-color);

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
}
#top3 ul {
  background-color: var(--secondary-color);
  outline: solid 2px var(--primary-color);
  border-radius: 0.3em;
  font-family: "Mulish";
  list-style: none;

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
}

#top3 article {
  margin: 1em;
}
.header-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  width: 49%;
}
.restaurant1-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
#restaurant2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1em;
}

/* MEDIA QUERIES HEADER */

@media screen and (min-width: 992px) {
  #top3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    margin: 2em 2em;
  }
  #top3 h2 {
    font-size: 2em;
    width: 25%;
    margin: 0em 1em;
  }
  #top3 section {
    display: flex;
    flex-direction: row;
  }
  #top3 img {
    margin: 0.2em 0em;
    width: 45%;
  }
  #top3 article {
    margin: 1em 1em;
  }
  #restaurant2 {
    display: flex;
    flex-direction: row;
    width: 40%;
  }
  .restaurant1-3 {
    gap: 1em;
    width: 40%;
    margin: 2em 2em;
  }

  .header-text {
    font-size: 100%;
    margin: 0em 0.2em;
  }
}

/* Filtrer un restaurant */

details {
  border: solid 0.3rem var(--primary-color);
  width: 90%;
  background-color: var(--secondary-color);
  margin: 0 4%;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 992px) {
    width: 50%;
    height: 90%;
    margin: 1% 1%;
  }
}

summary {
  font-family: "QuickSand";
  background-image: linear-gradient(
    360deg,
    var(--primary-color),
    var(--button-color)
  );
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

form h3 {
  font-family: "QuickSand";
}

form li {
  font-family: "Mulish";
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  list-style: none;
}

#filter-restaurants {
  background-color: var(--secondary-color);
  width: 80%;
}

summary {
  text-align: center;
  font-size: calc(var(--subtitle-size) * 1.2);
  background-color: var(--primary-color);
  margin: 2rem 12.5% 1rem 12.5%;
  padding: 1rem 0;
  width: 75%;
  border-radius: 2rem;
  color: var(--secondary-color);
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 992px) {
    margin: 12.5% 12.5% 12.5% 12.5%;
  }
}

summary:hover {
  transform: scale(1.1);
}

.ul-liste {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title-filter {
  margin: 1.5rem 0 0.7rem 0;
  padding: 1rem 0;
  text-align: center;
  font-size: calc(var(--subtitle-size) * 0.8);
  background-color: #125b89;
  color: var(--secondary-color);
  border-radius: 5rem;
}

#no-filter {
  margin-top: 1.5rem;
}

#validate-filter {
  margin: 3rem 25% 3rem 20%;
  padding: 7% 5%;
  width: 60%;
  border-style: none;
  border-radius: 1rem;
  font-size: var(--pargaraph-size);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    360deg,
    var(--primary-color),
    var(--button-color)
  );

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);

  @media screen and (min-width: 992px) {
    margin: 1.5rem 30% 1.5rem 30%;
    width: 40%;
    padding: 1rem 0;
  }
}

#validate-filter:hover {
  transform: scale(1.1);
}

.li-form {
  list-style: none;
  font-size: var(--pargaraph-size);
}

/* Ajouter un restaurant */

#add-restaurant {
  width: 80%;
  margin: 5% 5%;
  border: solid 0.3rem var(--primary-color);
  border-radius: 2rem;
  background-color: var(--accent-color);
  font-family: "Mulish";

  @media screen and (min-width: 992px) {
    width: 91%;
    margin: 5% 1%;
  }
}

#title-form {
  margin: 1rem 0 3rem 0;
  text-align: center;
  font-size: var(--subtitle-size);
  font-family: "QuickSand";
}

.ul-form {
  @media screen and (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.ul-form > li {
  @media screen and (min-width: 992px) {
    width: 33%;
  }
}
.title-form {
  display: inline-block;
  margin: 0.3rem 5rem 0.3rem 0.3rem;
}

.input-formulaire {
  width: 90%;
  height: var(--pargaraph-size);
  background-color: var(--secondary-color);
}

#validate-form {
  margin: 1.5rem 0 1.5rem 25%;
  padding: 5% 3%;
  width: 50%;
  border-style: none;
  border-radius: 1rem;
  color: var(--secondary-color);
  font-size: var(--pargaraph-size);
  background-color: #125b89;
  background-image: linear-gradient(
    360deg,
    var(--primary-color),
    var(--button-color)
  );
  transition: all 0.5s ease-in-out;

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);

  @media screen and (min-width: 992px) {
    margin: 1.5rem 0 1.5rem 0;
    width: 20%;
    padding: 1rem 0;
  }
}

#validate-form:hover {
  transform: scale(1.1);
}

/* Cartes et descriptions des restaurants */

.cards {
  display: flex;
  flex-direction: column;
}

.card-restaurant {
  border: solid 3px var(--primary-color);
  display: flex;
  border-radius: 2em;
  padding: 0.5em;
  margin: 0.5em auto;
  gap: 1.75em;
  align-items: center;
  justify-content: space-around;
  width: 87%;
  height: 100%;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
}

.card-restaurant ul {
  max-width: 17em;
  list-style: none;
}

.informations-restaurant {
  display: flex;
  flex-direction: column;
  gap: 8%;
  width: 100%;
  font-family: "Mulish";
  font-size: 11px;
}

.picture-restaurant {
  border-radius: 2em;
  width: 40%;
}

.card-name {
  margin: 0 0.5em 1em 0.5em;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "QuickSand";
  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 1px 2px 2px 0px rgba(122, 118, 122, 1);
}

@media screen and (min-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 0 auto;
    align-items: stretch;
  }

  .card-restaurant {
    width: 95%;
    height: auto;
  }

  .informations-restaurant {
    font-size: 18px;
  }

  .card-name {
    font-size: 24px;
  }
}

/* bouton haut de page */

.btnHautdePage {
  margin: 1.5rem 0 0.7rem 0;
  padding: 1% 1%;
  text-align: center;
  font-size: calc(var(--subtitle-size) * 0.8);
  background-color: #125b89;
  color: var(--secondary-color);
  font-family: "Mulish";
  border-radius: 1em;
  border-style: none;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    360deg,
    var(--primary-color),
    var(--button-color)
  );

  -webkit-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  -moz-box-shadow: 3px 4px 3px 0px rgba(122, 118, 122, 1);
  box-shadow: 1px 2px 2px 0px rgba(122, 118, 122, 1);
}
.btnHautdePage:hover {
  transform: scale(1.1);
}
#buttonBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  height: 10px;

  font-family: "Mulish";
  color: var(--secondary-color);
}

footer span a {
  text-decoration: none;
  color: var(--accent-color);
}
